<div class="row">
  <div class="card horizontal comment_<%= comment.id %>">
    <div class="card-image">
      <%= image_tag comment.user.avatar.url(:thumb) %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span><strong><%= link_to comment.user.username, user_path(comment.user) %></strong> - <%= comment.content %></span><br>
        <span class="upcount_<%= comment.id %>"><small class="upvote_<%= comment.id %>"><%= link_to upvote_comment_path(comment), remote: true, method: :put do %> Upvote <% end %> <%= comment.get_upvotes.size %> |</small></span>
        <span class="downcount_<%= comment.id %>"><small class="downvote_<%= comment.id %>"><%= link_to downvote_comment_path(comment), remote: true, method: :put do %> Downvote <% end %> <%= comment.get_downvotes.size %></small></span> <small>| Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
      </div>
      <% if current_user %>
        <% if current_user.try(:admin) || current_user.id == comment.user_id %>
      <div class="card-action">
        <% if comment[:commentable_type] == 'Build' || comment[:commentable_type] == 'Product' %>
          <%= link_to new_comment_comment_path(comment), class: "reply_#{comment.id}", remote: true do %>Reply<% end %>
        <% end %>
        <% if @build || comment[:commentable_type] == 'Build' %>
          <%= link_to 'Edit Comment', edit_build_comment_path(comment[:commentable_id], comment) %>
          <%= link_to "Delete", build_comment_path(comment[:commentable_id], comment),
            :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        <% elsif @comment || comment[:commentable_type == 'Comment'] %>
          <%= link_to 'Edit Comment', edit_comment_comment_path(@comment, comment) %>
          <%= link_to "Delete", comment_comment_path(@comment, comment),
            :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        <% else %>
          <%= link_to 'Edit Comment', edit_product_comment_path(comment[:commentable_id], comment) %>
          <%= link_to "Delete", product_comment_path(comment[:commentable_id], comment),
            :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
