<%= render 'layouts/errors', object: @build %>

<%= form_for [@user, @build] do |f| %>
  <div class="input-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="input-field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'materialize-textarea' %>
  </div>
    <%= f.label :picture %>
    <div class="col s12">
    <%= f.file_field :picture %>
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>
  <br>
  <%= f.submit %>
<% end %>
