<div class="full-height">
  <h1 class="center-align"><%= @build.name %></h1>
  <h3 class="center-align">Created by <%= link_to @build.user.username, user_path(@build.user) %></h3>
  <div class="center-align"><small>Submitted <%= time_ago_in_words(@build.created_at) %> ago</small></div><br>
  <%= image_tag @build.picture.url(:medium), class: 'materialboxed center-pic' %>
  <div class="row">
    <div class="col s3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"></span>
          <span class="vote_count"></span><h4 class="center-align vote_size"><%= @build.get_upvotes.size %></h4>
        </div>
        <div class="card-action">
          <%= link_to upvote_build_path(@build), class: 'btn', remote: true, method: :put do %>
            Upvote
          <% end %>
          <br><br>
          <%= link_to downvote_build_path(@build), class: 'btn', remote: true, method: :put do %>
            Downvote
          <% end %>
        </div>
      </div>
    </div>
    <div class="col s9 push-s1">
      <h3 class="center-align">Gear List</h3>
      <% @categories.each do |category| %>
        <%= render 'build', category: category %>
      <% end %>
    <h3>Total: $<%= @total %></h3>
    </div>
  </div>
  <br>


<%= form_for [@build, Comment.new], remote: true do |f| %>
<%= f.text_area :content, placeholder: "Add a comment" %><br/>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "Add Comment", class: 'btn' %>
<% end %>

<% @build.comments.each do |comment| %>
  <div class="row no-margin-bottom">
    <div class="col s12">
      <%= render 'comments/comment', comment: comment %>
    </div>
  </div>
  <div class="row no-margin-bottom">
    <div class="col s10 offset-s2">
      <div id="new_comment_form_<%= comment.id %>"></div>
      <div id="new_comment_<%= comment.id %>"></div>
      <% comment.comments.each do |comment_comment| %>
        <%= render 'comments/comment', comment: comment_comment  %>
        <div id="new_comment_form_<%= comment_comment.id %>"></div>
        <div><ul><li id="new_comment_<%= comment_comment.id %>"></li></ul></div>
      <% end %>
    </div>
  </div>
<% end %>
<div id="build_comments"></div>
</div>
