<div class="show-height">
  <h1 class="center-align"><%= @build.name %></h1>
  <%= image_tag @build.picture.url(:medium), class: 'center-pic' %>

  <%= link_to 'Add Comment', new_build_comment_path(@build) %>

  <div class="col l12">
    <% @build.comments.each do |comment| %>
      <div class="row">
        <div class="card horizontal">
          <div class="card-image">
            <%= image_tag comment.user.avatar.url(:thumb) %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span><strong><%= comment.user.username %></strong> - <%= comment.content %></span>
            </div>
            <% if current_user != nil %>
              <% if current_user.try(:admin) || current_user.id == comment.user_id %>
            <div class="card-action">
              <%= link_to 'Edit Comment', edit_build_comment_path(@build, comment) %>
              <%= link_to "Delete", build_comment_path(@build, comment),
                                    :data => {:confirm => "Are you sure?",
                                    :method => "delete"} %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
