<%= form_tag('mailchimp#create') do %>
  <div class="input-field col s6 footer-margin-top">
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
  <div class="input-field col s6 footer-margin-top">
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>
  <div class="row footer-margin-bottom">
    <div class="input-field col s12 footer-margin-top">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <%= submit_tag "Subscribe", class: "btn" %>
  </div>
<% end %>
