<!DOCTYPE html>
<html>
  <head>
    <title>BuildMyBackpack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Rubik" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?('/') %>
      <nav class="navbarhome">
    <% else %>
      <nav>
    <% end %>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">BuildMyBackpack</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user.try(:admin) %>
            <li class="header-tag"><%= link_to 'Admin', rails_admin_path %></li>
          <% end %>
          <li class="header-tag"><%= link_to 'Browse Builds', builds_path %></li>
          <li class="header-tag"><%= link_to 'Forum', posts_path %></li>
          <% if current_user %>
            <li><%= link_to current_user.username, user_path(current_user.id) %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user.try(:admin) %>
        <li><%= link_to 'Admin', rails_admin_path %></li>
      <% end %>
      <li><%= link_to 'Browse Builds', builds_path %></li>
      <li><%= link_to 'Forum', posts_path %></li>
      <% if current_user %>
        <li><%= link_to current_user.username, user_path(current_user.id) %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
      <% if flash[:notice]%>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert]%>
        <%= flash[:alert] %>
      <% end %>
      <% if current_page?('/') %>
        <%= yield %>
      <% else %>
        <div class="container">
          <%= yield %>
          <div> <%= debug(params) if Rails.env.development? %></div>
        </div>
      <% end %>
    <footer class="page-footer">
      <div class="row footer-margin-bottom">
        <div class="col l4 s12">
          <h5 class="white-text">Subscribe to our newsletter</h5>
          <%= render 'mailchimp/form' %>
        </div>
        <div class="col l4">
          <p class="white-text">This is another column</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Mission</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
        © BuildMyBackpack 2017
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </footer>
  </body>
  <script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  })
  </script>
</html>
