<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Tags -->
    <meta name="robots" content="index" />
    <meta name="description" content="Build My Backpack is a community built around helping one another get outside with the best loadout possible. From discussion about this season's best gear, to this season's best hikes, Build My Backpack hosts users as the world's best place to congregate online, as all who love the outdoors." />
    <%= csrf_meta_tags %>
    <title>BuildMyBackpack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Rubik" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?('/') %>
      <nav class="navbarhome">
    <% else %>
      <nav>
    <% end %>
      <div class="nav-wrapper">
        <%= image_tag 'Logo.png', class: "andrew" %>
        <a href="/" class="brand-logo">BuildMyBackpack</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user.try(:admin) %>
            <li class="header-tag"><%= link_to 'Admin', rails_admin_path %></li>
          <% end %>
          <li class="header-tag"><%= link_to 'Browse Builds', builds_path %></li>
          <!-- <li class="header-tag"><%= link_to 'Forum', posts_path %></li> -->
          <% if current_user %>
            <li><%= link_to current_user.username, user_path(current_user, current_user.id) %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
      <% if flash[:notice]%>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert]%>
        <%= flash[:alert] %>
      <% end %>
      <% if current_page?('/') %>
        <%= yield %>
      <% else %>
        <div class="container">
          <%= yield %>
          <div> <%= debug(params) if Rails.env.development? %></div>
        </div>
      <% end %>
      <% if current_page?('/') %>
        <footer class="page-footer-landing">
      <% else %>
        <footer class="page-footer">
      <% end %>
      <div class="row footer-margin-bottom">
        <div class="col l4 s12">
          <h5 class="white-text">Subscribe to our newsletter</h5>
          <%= render 'mailchimp/form' %>
        </div>
        <div class="col l4">
          <p class="white-text">This is another column</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Mission</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
        © BuildMyBackpack 2017
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </footer>
  </body>
</html>
